{% extends 'blog_app/base.html' %}

{% block content %}

<div class="home-icon mt-4 text-secondary text-center"><i class="fas fa-info-circle"></i> ABOUT</div>

<!-- <h1 class="h6 mt-4 text-muted text-center">ABOUT</h1> -->
<div class="mt-2 mb-4 border border-light"></div>

<h1 class="text-success display-4">THE INFLOG</h1>
<h3 class="lead">A blogging application created to exchange information & ideas. App features basic crud operations and user authetication system.
</h3>

<h3 class="lead">The application is based on the Django Framework and has been developed by <span class="text-success weighted">Karan Kaul</span>.</h3>

<div class="links">
    <a href="https://www.linkedin.com/in/krnk97/" class='text-decoration-none' target="_blank" ><span class="social"><i class="fab fa-linkedin-in"></i></span></a>

    <a href="https://github.com/KRNK97" class='text-decoration-none' target="_blank" ><span class="social"><i class="fab fa-github"></i></span></a>

    <a href="https://www.instagram.com/_krnk97/" class='text-decoration-none' target="_blank" ><span class="social"><i class="fab fa-instagram"></i></span></a>
</div>

{% endblock %}