{% extends 'blog_app/base.html' %}

{% load crispy_forms_tags %}

{% block content %}



<h1 class="h6 mt-4 text-muted text-center">Reset Password</h1>



<div class="mt-2 mb-4 border border-light"></div>

<small class="text-muted my-2">
    Enter your email & we will send you an email with the link to reset your password.
</small>

<form action="" method="POST">

    {% csrf_token %}
    
    <div class="form-group">
        {{ form| crispy }}
    </div>

    <button type="submit" class="btn btn-outline-success">Request Password Reset</button>
</form>


{% endblock %}